.contenedor
{
	width: 90%;
	height: auto;
      	min-height: 100%;
	margin-top: 50px;
	margin-left: 5%;
	font-family: arial;
	color: rgb(131, 145, 146 );
        margin-bottom: 50px;
        padding: 10px;
}
.contenedor .info
{
	width: 100%;
	min-height: 80px;
	height: auto;
	border: 2px solid rgb(131, 145, 146 );
	border-radius: 20px;
}
.contenedor .info section
{
    height: auto;
    width: 100%;  
    display: flex;
    flex-wrap: wrap; 
    transition: 1s;
}
.contenedor .info section button , .contenedor .info section input[type='text']
{
	width: 200px;
	height: 50px;
	padding: 4px;
	margin-left: 30px;
	margin-top: 15px;
	color: white;
	border-radius: 15px;
	font-size: 1.2em;
	margin-bottom: 15px;
}

.contenedor .info section button
{
    background: #3e5916;;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.contenedor .info section input[type='text']
{
	border-radius: 18px;
	width: 200px;
	height: 37px;
	color: black;
}
.contenedor .info section .buscar
{
	background: gray;
	width: 120px;
}

.contenedor img
{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-top: 20px;
}
.user_t
{
	margin-top: 20px;
}
.user_t button
{
	margin-top: 40px;
	width: 190px;
	height:40px;
	border: none;
	color: white;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	margin-left: 10px;
        z-index: 1000;
}
.user_t .ed
{
   background: #3e5916;;
}
.user_t .in
{
   background: rgb(192, 57, 43 );   
}
.user_t td
{
  min-height: 30px;
  height: auto;
}
.user_t p 
{
  margin-left: 20px;
  height: 10px;
}
.centrado
{
	align-content: center; justify-content: center; text-align: center;
}