<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/body.css">
	<link rel="stylesheet" href="../css/registro.css">
	<link rel="icon" type="image/png" href="../img/plantarte.png" /> 
	<title>Registrar</title>
</head>
<body>
	<div class="contenedor">
		<div class="registro">
		  	<section><img src="../img/plantar.jpg"></section>
		  	<section>		  			
	   			<h1>CREAR USUARIO</h1>
	   			<div class="formulario">
	   				<table>
	   					<tr>
	   						<td>
	   							<input type="text" name="identificacion" placeholder="identificacion">
	   						</td>
	   						<td>
	   							<input type="number" name="nombre" placeholder="nombre">
	   						</td>
	   					</tr>
	   					<tr>
	   						<td>
	   							<input type="number" name="edad" placeholder="edad">
	   						</td>
	   						<td>
	   							<input type="email" name="email" placeholder="email">
	   						</td>
	   					</tr>
	   					<tr>
	   						<td class="center" colspan="2">
	   							<button> <a href="./ViewMain.html">REGISTRARSE</a></button>
	   						</td>
	   					</tr>
	   				</table>					
	   			</div>
		  	</section>
	  	</div>
	  	<div class="footer">
		
		</div>
	</div> 	
	 
</body>
</html>