<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIA - inicio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Se trae los el enlace de Bootstrap de css de Bootstrap. --> 
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg color-1">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">PLANTARTE</a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarText">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <!-- para que el mb(margin bottom) sea 2 y cuando
            se visualice en un lg (portátil o dispositivo de mayor amplitud de pixeles el mb sea de 0). -->
            
            <li class="nav-item p-2">
              <a class="nav-link border-down" href="#somos">¿QUIENES SOMOS?</a>
            </li>
             <li class="nav-item p-2">
              <a class="nav-link border-down" href="#">PLANTA UN ÁRBOL</a>
            </li>
             <li class="nav-item p-2 color-1">
              <a class="nav-link border-down" href="#">¿ERES UNA EMPRESA?</a>
            </li>
             <li class="nav-item p-2">
              <a class="nav-link border-down" href="#">HAZTE VOLUNTARIO</a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link" href="ViewInicio.html"><span class="login-item">INICIAR SESIÓN</span></a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link border-down" href="#">CONTACTO</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    
      <div class="container-fluid">
        <div class="row align-items-center content-section">

          <div class="col-sm-6">
            <img src="IMG1.svg" alt="" width="60%">
          </div>

          <div class="col-sm-6">
            <H1>REFORESTEMOS JUNTOS LOS BOSQUES</H1>
            <p>y dejemos el mundo mejor de lo que lo encontramos</p>
            <button>SÚMATE Y PLANTA UN ÁRBOL</button>
          </div>

        </div>
      </div>

      <div class="container">
        <div class="row info-section">
          <div class="col-sm-12">
            <a name="somos"><h1>¿QUIENES SOMOS?</h1></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam aspernatur dignissimos laudantium iure et praesentium quod adipisci architecto, deleniti sunt, at cum modi nulla possimus beatae qui laborum voluptas ducimus!
            Perspiciatis ducimus porro itaque quo eveniet velit ad officia, excepturi recusandae dolores incidunt amet molestiae facilis odit reiciendis eius, deserunt minima. Ab voluptates aperiam labore repellat minus aliquid eos quaerat!
            Possimus nam necessitatibus voluptate quas minus? Optio, molestiae. Vel a atque accusantium! Dicta quidem a saepe illum, maiores modi, voluptates animi vel nesciunt facilis voluptatum quam ratione odio! Exercitationem, dicta.
            Accusantium ea earum autem et, minus eos dolor impedit nihil explicabo itaque distinctio magni nostrum, odit nulla! Ab incidunt atque, quae inventore earum iure, eaque quibusdam voluptates ea, pariatur itaque?</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg" width="50px" alt="">
          </div>
        </div>
      </div>

      <div class="container-fluid">
        
        <div class="row justify-content-center work-section">
          <div>
            <a name="trabajo"><h1>NUESTRO TRABAJO</h1></a> <span class="decorate-line"></span>
          </div>

          <div class="col-sm-3">
            <img src="https://www.65ymas.com/uploads/s1/25/03/93/conoce-los-proyectos-de-reforestacion-que-hay-en-espana-y-como-participar-en-uno.jpeg" width="100%"  alt="">
            <a name="reforestacion"><span class="text-img">REFORESTACIÓN</span></a>
          </div>

          <div class="col-sm-3">
            <img src="https://misanimales.com/wp-content/uploads/2020/09/educacion-ambiental-concepto-1024x704.jpg" width="100%" height="90%" alt="">
            <a name="#ambiental"><span class="text-img">EDUCACIÓN AMBIENTAL</span></a>
          </div>

          <div class="col-sm-3">
            <img src="https://twenergy.com/wp-content/uploads/2020/05/donaci%C3%B3n-ambiental.jpg" width="100%"  alt="">
            <a name="donacion"><span class="text-img">DONACIÓN A PROPIETARIOS</span></a>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row digits-section justify-content-center">
          <div class="col-sm-12">
            <h1>Gracias a todos hemos logrado</h1>
            <p>reforestar grandes áreas de bosques intentando asegurar y gestionar de manera precisa el planeta.</p>
          </div>
        </div>

          <div class="row digits-section justify-content-center">
            <div class="col-sm-3">
              <img src="http://icons555.com/images/icons-black/image_icon_deciduous_tree_pic_512x512.png" width="100px" alt="">
              <p># de árboles plantados.</p>
            </div>

            <div class="col-sm-3">
              <img src="https://image.flaticon.com/icons/png/512/52/52177.png" width="100px" alt="">
              <p># zonas reforestadas.</p>
            </div>

            <div class="col-sm-3">
              <img src="https://cdn-icons-png.flaticon.com/512/32/32441.png" width="100px" alt="">
              <p># de voluntarios inscritos.</p>
            </div>
          </div>
      </div>

      <div class="container-fluid">
        <div class="row phrase-section">
          <div class="col-sm-12">
            <p>PLANTA UN ÁRBOL Y ESTARÁS PLANTANDO CONCIENCIA</p>
          </div>
        </div>
      </div>

      <div class="container-fluid footer-nazi">
        <footer class="py-5">
          <H1>PLANTARTE</H1>
          <div class="row">
            <div class="col-2">
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">QUIENES SOMOS</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FNUESTRO TRABAJO</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">HAZTE VOLUNTARIO</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">PLANTA UN ÁRBOL</a></li>
              </ul>
            </div>
      
            <div class="col-2">
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">PLANTA UN ÁRBOL</a></li>
              </ul>
            </div>
      
            <div class="col-4 offset-3">
              <h4>CONTACTO</h4>
              <div class="container">
                <form action="">
                <div class="row">
                  <div class="col-4">
                    <input type="text" class="form-control" placeholder="Nombre">
                  </div>

                  <div class="col-4">
                    <input type="text" class="form-control" placeholder="Apellido">
                  </div>
                </div>

                <div class="row">
                  <div class="col-4">
                    <input type="email" class="form-control" placeholder="Email">
                  </div>

                  <div class="col-4">
                    <input type="tel" class="form-control" placeholder="Teléfono">
                  </div>

                </div>
                
                <div class="row">
                  <div class="col-8">
                    <select class="form-select">
                      <option value="1">Individuo</option>
                      <option value="2">Empresa</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              </div>
            </div>


          </div>
      
          <div class="py-2 my-2 border-top">
            <p>&copy; 2021 Plantarte. All rights reserved.</p>
          </div>
        </footer>
      </div>

    <!-- Se trae los dos enlaces de JS y POPPERS de Bootstrap. -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>
</html>