<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIA - inicio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Se trae los el enlace de Bootstrap de css de Bootstrap. --> 
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="menuprincipal.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg color-1">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PLANTARTE</a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarText">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item p-2">
            <a class="nav-link" href=""><span class="login-item">CERRAR SESIÓN</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    
  <div class="container">
    <div class="row main-menu justify-content-center">
      <div class="col-sm-6">
        <H1>BIENVENIDO A PLANTARTE</H1>
        <p>¿Qué quieres hacer?</p>
      </div>
    </div>

    <div class="row buttons-menu justify-content-center">
      <div class="col-3">
        <a href="">EMPRESAS</a>
      </div>

      <div class="col-3">
        <a href="">EMPRESAS</a>
      </div>

      <div class="col-3">
        <a href="">EMPRESAS</a>
      </div>

      <div class="col-3">
        <a href="">EMPRESAS</a>
      </div>
    </div>
  </div>

  <hr>

  <div class="container announces-section">
    <div>
      <h1>ANUNCIOS</h1> <span class="decorate-line"></span>
    </div>
    <div class="row announce-item">
      <div class="col">
        <h1>ANUNCIO #1</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, perferendis fugit, necessitatibus reprehenderit et neque ipsam temporibus, quia tenetur soluta earum assumenda dignissimos consequatur sed aperiam libero recusandae impedit ducimus!
        Corrupti, sed. Reprehenderit itaque sint et doloribus unde deserunt deleniti illum tempore aliquid sapiente culpa perspiciatis odio placeat ipsa, iusto veritatis rerum. Ratione eligendi hic voluptas sapiente voluptates aliquid eum.
        Dolore mollitia numquam quos inventore libero, asperiores, labore rerum assumenda quia voluptatum modi unde doloremque! Animi quaerat, necessitatibus eos neque pariatur possimus, ad deserunt totam nihil sit consequatur cum optio.
        Incidunt, culpa. Ducimus laudantium in necessitatibus illum consequatur ea cupiditate cum, fugiat officia neque perferendis temporibus deleniti ipsum aperiam ratione sit labore est et quidem adipisci harum? Eos, excepturi aliquam.
        Suscipit maiores eius modi aspernatur velit ipsam tempora minus a enim, odio, qui itaque voluptates veritatis omnis illum laudantium. Non quos id perspiciatis dolorem corporis, voluptatem voluptate molestias consequatur iure.
        Quaerat minus cupiditate, sint accusantium temporibus aut iste ipsa, ratione eaque tempora nesciunt officiis molestias doloremque facilis, maiores laboriosam explicabo illo incidunt rem consectetur consequuntur dignissimos aperiam nulla sed? Aperiam!
        In repellendus sed illo officiis, eos consectetur ut, dolores similique vel animi fugiat! Dicta voluptate ut saepe porro, rerum, vero molestias soluta assumenda omnis voluptatem corporis aspernatur nihil distinctio laboriosam?
        Ipsa, modi debitis illo, quidem reiciendis quam in suscipit doloremque unde blanditiis delectus dolorem libero, atque distinctio commodi repellat dignissimos repudiandae tenetur deleniti at! Nihil atque impedit doloremque hic. Repellat!</p>
        <button type="button" class="btn btn-success">DONAR</button>
        <button type="button" class="btn btn-info">INFORMAR ASISTENCIA</button>
      </div>
    </div>
  </div>


  <footer>
    <div class="align-items-center">
      <p>&copy; 2021 Plantarte. All rights reserved.</p>
    </div>
  </footer>
    <!-- Se trae los dos enlaces de JS y POPPERS de Bootstrap. -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>
</html>